<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta property="og:site_name" content="{{ siteTitle }}" />
  <meta property="og:title" content="{{ pageTitle }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ currentUrl }}" />

  {% if socialImage %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ socialImage }}" />
  <meta name="twitter:image" content="{{ socialImage }}" />
  <meta property="og:image:alt" content="Page image for {{ site.name }}" />
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
  {% endif %} {% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}" />
  <meta name="twitter:description" content="{{ metaDesc }}" />
  <meta property="og:description" content="{{ metaDesc }}" />
  {% endif %}

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="alternate" type="application/rss+xml" href="http://localhost:8080/feed.xml" />

  <title>محمد طاهر</title>
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/app.css" />
</head>

<body class="dark:bg-slate-800 dark:text-white min-h-screen flex flex-col mx-auto">
    {% include 'header.njk' %}

    <main class="w-10/12 md:w-8/12 content mx-auto my-20 text-md grow">
      {{ content | safe }}
    </main>

    {% include 'footer.njk' %}

  <script id="dsq-count-scr" src="//mohtaher-com.disqus.com/count.js" async></script>
</body>

</html>
