<span class="mr-auto">
    {% for tag in tags -%}
        {% if tag !== 'post' %}
            <a class="text-xs bg-emerald-100 text-emerald-400 px-2 hover:bg-emerald-300 hover:text-emerald-900 rounded-lg p-1" href="/blog/categories/">{{ tag }}</a>
        {% endif %}
    {%- endfor %}
</span>