<header class="w-10/12 md:w-8/12 py-7 mx-auto">
  <nav class="flex flex-row items-center nav box-hidden md:mx-auto">
    <h1 class="flex-1 text-bold">
      <a href="/" class="text-xl font-bold text-black hover:text-black md:text-3xl">محمد طاهر</a>
    </h1>
    <a href="/blog" class="text-lg font-bold hover:text-emerald-600">المدونة</a>
      <!-- <svg class="mx-4 cursor-pointer hover:stroke-black stroke-1 stroke-gray-400" -->
      <!--   xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" -->
      <!--   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" -->
      <!--   class="feather feather-moon"> -->
      <!--   <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path> -->
      <!-- </svg> -->
  </nav>
</header>
