---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 5
  reverse: true
  alias: posts
---

<ul style="list-style-type: none">
  {% for post in posts %}
  <li class="mt-10">
    <h1 class="mb-5 text-xl font-bold md:text-3xl">
      <a class="title" href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h1>
    <div class="flex flex-row items-center">
      <svg
        class="mb-1 ml-2 stroke-gray-600 dark:stroke-white"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-calendar"
      >
        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
        <line x1="16" y1="2" x2="16" y2="6"></line>
        <line x1="8" y1="2" x2="8" y2="6"></line>
        <line x1="3" y1="10" x2="21" y2="10"></line>
      </svg>
      <time
        class="leading-none text-gray-600 text-md dark:text-white"
        datetime="{{ post.date | dateIso }}"
        >{{ post.date | dateReadable }}</time
      >
      <span class="mr-auto">
        {% for tag in tags -%} {% if tag !== 'posts' %}
        <a
          class="p-1 px-2 text-sm text-gray-400 bg-gray-300 rounded-lg hover:text-white hover:bg-emerald-900"
          href="/blog/categories/}"
          >{{ tag }}</a
        >
        {% endif %} {%- endfor %}
      </span>
    </div>
  </li>
  {% endfor %}
</ul>

