@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dubai';
  src: url('../assets/fonts/DubaiW23-Light.woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Dubai';
  src: url('../assets/fonts/DubaiW23-Regular.woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Dubai';
  src: url('../assets/fonts/DubaiW23-Light.woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Dubai';
  src: url('../assets/fonts/DubaiW23-Bold.woff');
  font-weight: 700;
}

pre {
  direction: ltr;
}

hr {
  margin-bottom: 15px;
}

@layer components {
  .title {
    @apply mb-10 text-2xl font-bold text-black dark:text-white md:text-3xl;
  }

  .content {
    @apply text-lg text-black dark:text-white md:text-xl;
  }

  .content > p {
    @apply my-4 leading-loose text-justify;
  }

  .content > ol {
    @apply my-3 indent-8;
  }

  .content > ol > li {
    @apply my-2;
  }

  .content h2 {
    @apply text-3xl font-bold mt-10 pb-5 before:content-['#'] before:ml-4;
  }

  .content a {
    @apply underline text-emerald-500 hover:text-emerald-700;
  }

  footer a {
    @apply font-bold hover:underline;
  }

  main > #avatar {
    @apply w-20 mx-auto mt-10 mb-10 border-4 rounded-full md:w-36 border-emerald-600;
  }

  code {
    @apply text-sm !important;
  }

  pre code {
    @apply text-sm !important;
  }

  .content ul {
    list-style-type: disc;
    margin-right: 1.5em;
  }
}
